# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
coverage/
docs/

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# Ignore dist folder
dist/
*.tsbuildinfo

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json
